main{
    padding: 2em;
    background-color: lightblue;
    border-radius: 0.5em;
}

section{
    margin-right: 0.3em;
}

textarea{
    resize: none;
    margin-left: 0.3em;
    height: 6em;
    margin-bottom: 0.8em;
}

.row{
    margin-bottom: 0.3em;
}

.smallB{
    width: 3em;
    height: 3em;
    margin-left: 0.3em;
    
}

.bigB{
    margin-left: 0.3em;
    width: 6.3em;
}

.modal-body{
    max-height: 80vh;
    overflow-y: auto;
}
